# Отключаем добавление генерируемых id автоматически добавляемых к URI ссылок
php_value session.use_trans_sid 0

# Отключаем просмотр директорий
Options -Indexes

# Пользователь не прошел аутентификацию, доступ запрещен - Directory index forbidden
ErrorDocument 403 /

# Редирект для невозможности обратиться к собственному файлу настроек
Redirect 301 /my.php /outer/404.php

# Отключаем вывод ошибок пхп - установите 0
php_value display_errors 1

RewriteEngine On
RewriteBase /

# Запретим внешний доступ к директории с шаблонами
RewriteRule ^(templates|inner) - [F]

# Обработка любого урл файлом index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !server-status
RewriteRule . /index.php [L]
